<html>
<head>
    
</head>
<body>
    <div class="container" style="width: 80%; margin: auto; padding: 20px;">
        <h2 style="font-family: Arial, sans-serif; line-height: 1.6;">{year}年{month}月份 的內部人持股異動金額總表已生成</h2>
        <p style="font-family: Arial, sans-serif; line-height: 1.6;">您可以透過網址查看檔案：<a href="{file_url}">{file_url}</a></p>
        <p style="font-family: Arial, sans-serif; line-height: 1.6;">檔名: <strong>{file_name}</strong></p>
        <p style="font-family: Arial, sans-serif; line-height: 1.6;">資料夾位置: <a href="{folder_url}">{folder_url}</a></p>
        <div class="footer" style="font-family: Arial, sans-serif; line-height: 1.6; font-size: 0.8em; color: grey; margin-top: 20px;">
            <p>請勿直接回覆本信箱</p>
            <p>如有任何問題請聯絡: <a href="mailto:junting0218@gmail.com">junting0218@gmail.com</a></p>
            <p>林俊霆 敬上</p>
        </div>
    </div>
</body>
</html>
